body{
  background-color: #3422FF;
}
.grid-wrapper{
  display: grid;
  grid-gap: 1.875rem;
  margin: 1.875rem 3.125rem;
}
.grid-wrapper > div {
  background-color: white;
  border: 6px solid #000000;
}
/* Первая строка */
.item01 {
  grid-column: 1/5;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 45vh;
}
.item02 {
  grid-column: 5/10;
  position: relative;
  display: flex;
  flex-direction: column;
}
/*Вторая строка*/
.item03 {
  grid-column: 1/5;
  height:  60vh;
  grid-row: 1/10;
}
.item04 {
  grid-column: 5/10;
  grid-row: 1/6;
}
.item05 {
  grid-column: 5/10;
  grid-row: 6/10;
}
/* Третья строка */
.item06 {
  grid-column: 1/4;
  height: 35vh;
}
.item07 {
  grid-column: 4/10;
}
/* Четвертая строка */
.item08 {
  grid-column: 1/6;
  height: 55vh;
}
.item09 {
  grid-column: 6/10;
}
/* Пятая строка */
.item10 {
  grid-column: 1/6;
  height: 55vh;
}
.item11 {
  grid-column: 6/10;
}
.window-bar {
  width: 100%;
  background-color: #454444;
  position: relative;
  font-family: pixelcyr_normal;
  padding: 15px;
  box-sizing: border-box;
  border-bottom: 6px solid #000000;
  color: white;
  font-size: 2.813rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.test{
  background-color: red;
  position: relative;
}
.test2{
  width: 100%;
  height: 100%;
  background-color: yellow;
  position: relative;
}
/* Navbar-Icons */
.icon-wrapper{
  display: flex;
  flex-direction: row;
  gap: 0.938rem;
  display: flex;
  flex-direction: row;
}
.hide-icon{
  width: 2.5vw;
  height: 3.5vh;
  background-image: url('../images/hide.svg');
  background-repeat: no-repeat;
  background-size: auto 100%;
  }
.close-icon{
  width: 2.5vw;
  height: 3.5vh;
  background-image: url('../images/close.svg');
  background-repeat: no-repeat;
}
/* display inline block
float (left right)*/
